/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  html, body {
    height: 100%;
    margin: 0;
    background-color: #f2ecd7;
  }
  table {
    font-size: 12px;
  }
  #trailsSubmit {
    text-align: center;
    margin: 5px;
  }
  #leftBtn, #rightBtn, #farBtn {
    border-radius: 10px;
    border: 1px color: #81b27e; height: 120px;
    border-style: solid;
    padding: 5px;
    padding-top: 2px;
    background: #81b27e;
    border-width: 1px;
    background-image: url('../../park2.jpg')
  }
  #eventHeader, #placeHeader, #trailHeader{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    padding-top: 1px;
  }
  #all{
    text-align: center;
    width: 100%;
    padding: 5px;
  }
  #header {
    text-align: center;
    padding: 2px;
    padding-bottom: 4px;
    margin-right: 2px;
    /*font-family: Verdana;*/
    /*font-style: italic;*/
    /*font-weight: bold;*/
  }
  #map {
    height: 600px;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  #listing {
    position: relative;
    width: 100%
    height: 600px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
  }
  #findhotels {
    margin-top: 5px;
    position: relative;
    text-align: left;
    width: 80%;
    font-size: 15px;
    padding: 1px;
    z-index: 5;
    background-color: #fff;
  }
  #eventSubmit, #eventType, #eventTime {
    text-align: center;
    margin: 2px;
  }
  #submitBtn, #eventsForm {
    padding-top: 3px;
  }
  #leftBtn {
    width: 250px;
  }
  #controls, #country {
    height: 25px;
    padding: 3px;
  }
  #placeField, #placeType{
    text-align: center;
    padding: 2px;
    height: 25px;
    top: 0px;
    z-index: 5;
  }
  #locationField {
    margin: 2px;
    text-align: center;
    position: relative;
    padding: 3px;
    height: 25px;
    top: 0px;
    z-index: 5;
  }
  #findPlace{
    text-align: center;
    position: relative;
    height: 25px;
    top: 0px;
    z-index: 5;
  }
  #autocomplete {
    text-align: left;
    position: relative;
    padding-top: 1px;
    /*width: 250px;*/
    height: 25px;
    top: 0px;
    z-index: 5;
  }
  #controls {
    position: relative;
    margin-bottom: 2px;
    top: 3px;
    z-index: 5;
  }
  #searchTextField {
    /*width: 300px;*/
  }
  #country {
    /*width: 100%;*/
  }
  .placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
  }
  .hotelIcon {
    width: 24px;
    height: 24px;
  }
  #resultsTable {
    border-collapse: collapse;
    width: 100%;
  }
  #rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
  }
  .iw_table_row {
    height: 18px;
  }
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  .iw_table_icon {
    text-align: right;
  }
